body {
    background: #3E7488;
    color: rgb(49, 85, 98);
    margin-top: 5rem;
    line-height: 1;
}

a {
    color: #5CD4AC;
}

#title {
    font-family: 'Fredoka One', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto",
        "Helvetica",
        "Arial",
        sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

.list-group-item-light {
    color: rgb(49, 85, 98);
    background-color: #c2e0d4;
}

ul {
    list-style-type: none;
}

.bg-steel {
    background-color: #A7CEBE;
}

.site-header .navbar-nav .nav-link {
    color: #3E7488;
}

.site-header .navbar-nav .nav-link:hover {
    color: #EFF0EA;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #EFF0EA;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #3E7488;
    font-size: 1.3rem;
}

a.article-title:hover {
    color: #5CD4AC;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}